<% include layouts/head %>

    <main>
        <h1><%= data.thread.title %></h1>
        <p><%- data.thread.desc %></p><br><br>
        
        <input type="button" value="Reply" onclick="$('#createPost').fadeIn();"><br><br><br>

        <% for(var i = data.posts.length - 1; i >= 0; i--)
        { %>
            <post>
                <h3><%= data.posts[i].name %></h3>  
                <% if(isAdmin) { %>
                    <a class="admin-button" href="/editPost<%= data.posts[i]._id %>">EDIT</a>
                    <a class="admin-button" href="/deletePost<%= data.posts[i]._id %>">DELETE</a>   
                <% } %>
                <img src="<%- data.posts[i].image %>" width="15%">      
                <%- data.posts[i].message %>
            </post>
        <% } %>
    </main>

    <modal id=createPost onclick="$('#createPost').fadeOut();">
        <form action="/post<%= data.thread._id %>" method="POST" enctype="multipart/form-data" onclick="event.stopPropagation();">                
            <h1>Reply</h1>
            <label>Name</label><input name="name"><br>
            <label>Image</label>
            <input type="file" class="form-input" name="image" id="image"><br>
            <label>Message</label><textarea name="message" id="message"></textarea>
            <input type="submit" value="Submit"> 
        </form>
    </modal>

<% include layouts/footer %>
